div{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: orchid;
    position: absolute;
    animation-name: firstAnnime;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@keyframes firstAnnime {
    0%{
        top:200px;
        left: 0px;
        transform: rotate(1turn);

    }
    /* 25%{
        top: 0;
        left:75%;
        background-color: aqua;
        transform: rotate(4turn);
    
    } */
    /* 50%{
        top: 75%;
        left: 75%;
        background-color: khaki;
    }
    75%{
        top: 75%;
        left: 0;
        background-color: palegreen;
    } */
    100%{
        top: 0;
        left: 0;

    } 
}
h1{
   font-size: 100px;
   text-align: center; 
}
h1:active{
    animation-name: hanime;
}
@keyframes hanime {
    0%{
        border-bottom: 2px solid red;
        width: 0;
    }
    25%{
        width: 100%;
        border-right:2px solid red;
        height: 0;
    }
    50%{
        height: 100%;
        
    }
    75%{
        height: 100%;
    }
    100%{

    }
}